mcat
t1.txt
t2.txt
mgrep
mrev
t4.txt
test.zip
test.txt
t7.txt
t6.txt
shell/t7.tx
shell/shell


test/stringarr.c
test/test
    shell/t8.txt
shell/t9.txt
shell/t8.txt
test/a.out
test/uparrow.c
shell2/a.out
shell2/mcat.h
shell2/mgrep.h
shell2/mrev.h
shell2/shell
shell2/shell.c
shell/prev.h
